:root {
    --background-yellow: #FFFFF8;
    --background-green: #349A6B;
    --toneDown-white: #f0f4f5;
    --toneDown-black: #080808;
    --greenewal-mint: #C0DFCC;
    --greenewal-yellowgreen: #C5E9BF;

    --bigger-title-font-size: 50px;
    --title-font-size: 40px;
    --middle-font-size: 22px;
    --content-font-size: 14px;


    /* desktop font size 따로 설정시 아래에*/
    --desk-font-size: 60px;
    /* 예시 */

    --contents-max-width: 850px;
}

/* 기본 폰트 */
@font-face {
    font-family: "pretendard-medium";
    src: url("./Pretendard-Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* 타이틀 폰트 */
@font-face {
    font-family: "kameron-bold";
    src: url("./kameron.bold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* 손글씨 폰트 */
@font-face {
    font-family: "kyobo-hand";
    src: url("./Kyobo\ Handwriting\ 2019.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
/*
* {
    font-family: "pretendard-medium";
} */