:root {
    --toneDown-white: #f0f4f5;
    --toneDown-black: #0a0a0a;
    --ewhaian-green: #058053;
    --ewhaian-subgreen: #058053;

    --title-font-size: 50px;
    --content-big-font-size: 40px
    --middle-font-size: 18px;
    --content-font-size: 14px;

    
    /* desktop font size 따로 설정시 아래에*/
    --desk-font-size: 60px; /* 예시 */

    --contents-max-width: 850px;
}

@font-face {
    font-family: "pretendard-Regular";
    src: url("./PretendardVariable.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}