:root {
    --toneDown-white: #f0f4f5;
    --toneDown-black: #0a0a0a;
    --ewhaian-green: #058053;
    --ewhaian-subgreen: #058053;

    --title-font-size: 50px;
    --middle-font-size: 24px;
    --content-font-size: 16px;

    --mobile-title-font-size: 30px;
    --mobile-middle-font-size: 24px;
    --mobile-middle-font-size2: 20px;
    --mobile-content-font-size: 16px;
    /*기본 폰트 사이즈는 웹 버전과 같게 통일 */
    --mobile-small-font-size2: 13px;
    --mobile-small-font-size: 11px;

    --contents-max-width: 850px;
}

@font-face {
    font-family: "pretendard-Regular";
    src: url("./PretendardVariable.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}