html{
    background-color: var(--background-yellow);
}

.TicketPage_background {
    margin: 5% 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    overflow: hidden;

}


.TicketPage_title {
    display: flex;
    justify-content: flex-start;
    margin: 0px 0%;
    font-size: var(--title-font-size);
    font-weight: bold;
    font-family: "kameron-bold";
    margin-bottom: 10px;
}

.dia {
    margin-left: 10px;
}

.ticket {
    
    margin: 0 auto;
    width: 100%;
    height: auto;

}

.nav_speaker {
    width: 93%;
    height: auto;
    margin-top: 10px;
}

.nav_speaker{
    padding: 10px 10px;

    display: block;
    margin: 10px auto 0;
    font-size: 18px;
}
