header {
    display: block;
    height: 50px;
}

.BoothInfo {
    font-family: "pretendard-medium";
    font-style: normal;
    /* 헤더 자리 남겨두기 */
    padding-top: 50px;
}

.BoothImg {
    /* 이미지 클로버 레이아웃 설정 */
    mask: url(../../../../public/img/Booth/cloberVec.svg);
    mask-size: cover;
    /* background: url("../../../../public/img/photo/greenpt.png"); */
}

.BoothMap {
    width: 90%;
    height: 300px;
    background-color: gray;
    margin: 0 auto;
    margin-top: 20px;
}

.BoothTitle {
    margin-top: 20px;
    font-size: var(--title-font-size);
    font-family: "kameron-bold";
    margin-left: 5%;
}

.AllBooths {
    width: 90%;
    margin: 0 auto;
    margin-top: 9px;
}

.AllBooths button {
    background-image: url("../../../../public/img/Booth/BoothBtn.svg");
    width: 20px;
    height: 20px;
    background-size: cover;
    position: relative;
    top: -20px;
    left: 85%;
    border: 0px;
}

.EachBooth {
    margin: 20px 0px;
    font-size: 11px;
    display: flex;
    height: 105px;
    justify-content: space-evenly;
}

.EachBooth img {
    height: 100px;
    /* max-width: 33%; */
    width: 100px;
}

.EachBoothInfo {
    width: 66%;
    background-color: #EBF7E9;
    border-radius: 15px 15px 0px 15px;
    margin-left: 10px;
    padding-left: 11px;
}

.EachBoothInfo div {
    margin-bottom: 8px;
    padding-right: 11px;
    /* padding-right: 20%; */
    word-break: keep-all;
}

.BoothName {
    font-size: var(--content-font-size);
    margin-top: 15px;
    font-weight: 600;
}

.BoothTag {
    color: #058053;
}

@media screen and (max-width:340px) {
    #LongTxt {
        height: 120px;
    }

    #LongTxt .EachBoothInfo div {
        padding-right: 20%;
        box-sizing: border-box;
    }

    #LongTxt button {
        top: -30px;
    }
}

/* @media screen and (max-width:300px) {
    .EachBoothInfo div {
        padding-right: 15%;
        box-sizing: border-box;
    }

    .EachBoothInfo {
        height: 120px;
    }

    #LongTxt .BoothTag {
        padding-right: 18%;
    }

    #LongTxt.EachBooth {
        height: 130px;
    }
} */