.photo-container{
  height:100vh;
  padding-top: 50px; 
  box-sizing: border-box;
}
.titletext{
  display: inline-block;
  margin-top: 20px;
  margin-right: 2%;
  font-size: var(--title-font-size);
  font-weight: bold;
  font-family: "kameron-bold";
}
.pt-title-image{
  width: 22px;
  height: 26.565px;
}
.photo-item-button {
  border: 1.5px solid #080808;
  border-radius: 30px;
  height: 34px;       
  padding: 0px 20px 0px 20px; 
  margin-top: 10px;
  margin-right: 13px;
  cursor: pointer;
  background-color: #fff;
  font-family:"Gowun Dodum";
  font-size: 15px;
  color: #080808;
}
.button-m{
  margin-left: 5%;
}
.photo-item-button.initial {
  background-color: black;
  color: white;
}

.photo-item-button:hover {
  background-color: #080808;
  color: #fff;
}
.selected-item-img {
  display: block;
  margin: 0 auto;
  margin-top: 5%;
  width: 90%; 
  height: 90%; 
}
.items{
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between; 
  margin-top: 15px;
  margin-bottom: 10px;
}
.p-selected-item-text{
  font-size: 125%;
  font-family: "Gowun Dodum";
  font-weight: 600;
}
.p-selected-item-pricetext {
  font-size: 113%;
  font-family: "Gowun Dodum";
}
.p-selected-item-contenttext {
  margin: 0 auto;
  color: #7D7D7D;
  width:90%;
  font-size: 93%;
  margin-top: 14px;
  font-family: "pretendard";
}
@media screen and (min-width: 281px) and (max-width: 320px) {
  
  .photo-item-button{
    padding: 0px 16px 0px 16px;
    margin-right: 13px;
  }
}

@media screen and (max-width: 280px) {

  .photo-item-button{
    padding: 0px 11px 0px 11px;
    margin-right: 10px;
  }
  .titletext{
    font-size: 38px;
  }
}
@media screen and (min-width:840px) {
  .photo-container{
    width: 500px;
    margin: 0 auto;
  }
}