.event-container{
  margin-top:8.4%;
  margin-left: 8.5%;
}
.headertxt{
    margin-left: 25%;
    margin-right: 25%;
}
  
.previous-image{
    display: inline-block;
    width: 7.5%;
    height: 5%;
}
.headertxt{
    display: inline-block;
    font-weight: bold;
}
.bar-image{
    display: inline-block;
    width: 5%;
    height: 5%;
}

.titletext{
    display: inline-block;
    margin-top: 5.2%;
    margin-left: 5.3%;
    font-size: 250%;
    font-weight: bold;
  }
  .title-image{
    width: 6%;
    height: 7%;
  }



.topep{
    margin-top: 6%;
    margin-left: 1%;
    color: #7D7D7D;
}

.sort{
    display: inline-block;
    font-size: 10%;
    font-weight: 550;
    margin-left: 10%;
    vertical-align: 20%; 
}
.title{
    display: block;
    font-size: 10%;
    font-weight: bold; 
    margin: -20% 0px 0px 30%;
}
.eventep{
    margin: 9% 0px 0px 5%;
    font-size: 14px;
}

.n1-image{
    display: inline-block;
    margin: 5% 0px 0px 5%;
    width: 13%;
    height: 13%;
}
.n2-image{
    display: inline-block;
    margin: 5% 0px 0px 5%;
    width: 13%;
    height: 13%;
}
.n3-image{
    display: inline-block;
    margin: 5% 0px 0px 5%;
    width: 13%;
    height: 13%;
}

.stamp{
    width: 90%;
    height: 38vh;
    margin-top: 5%;
    border-radius: 5% 5% 0px 5%;
    background-color: #C0DFCC;
}
.stamp-image{
    width: 91.5%;
    height: 47.5%;
    border-radius: 15px;
    margin-left: 4.3%;
}
.stamp-eventep{
    margin-bottom: 6%;
}

.bestdresser{
    width: 90%;
    height: 18vh;
    margin-top: 5%;
    border-radius: 5% 5% 0px 5%;
    background-color: #C5E9BF
}

.inssupl{
    width: 90%;
    height: 25vh;
    margin-top: 5%;
    margin-bottom: 10px;
    border-radius: 5% 5% 0px 5%;
    background-color: #C0DFCC;
}
.instarlink{
    float:right;
    margin-right: 10px;
    margin-top: 4.5%;
}
.instarlinktxt{
    display: inline-block;
    margin-right: 8px;
    font-size: 100%;
    font-weight: 550;
    text-align: right;
}
.instarlink-image{
    width: 15%;
    height: 3.2vh;
}