.event-container{
  margin-left: 7.2%;
}

.event-titletext{
    display: inline-block;
    margin-top: 5.2%;
    margin-left: 5.3%;
    margin-right: 2%;
    font-size: 250%;
    font-weight: bold;
    font-family: "kameron-bold";
  }
.event-title-image{
    display: inline-block;
    width: 6%;
    height: 7%;
}

.topep{
    margin-top: 6%;
    margin-left: 1%;
    font-size: 14px;
    color: #7D7D7D;
    font-family: "pretendard";
}

.sort{
    display: inline-block;
    font-size: 14px;
    font-weight: 550;
    margin-left: 16px;
    vertical-align: 45px; 
    font-family: "pretendard";
}
.event-title{
    display: block;
    font-size: 22px;
    font-weight: bold; 
    margin: -12% 0px 0px 29%;
    font-family: "pretendard";
}

.eventep{
    margin: 4% 0px 0px 5%;
    font-size: 14px;
    font-family: "pretendard";
}

.n1-image{
    display: inline-block;
    margin: 5% 0px 0px 5%;
    width: 67px;
    height: 67px;
}
.n2-image{
    display: inline-block;
    margin: 5% 0px 0px 5%;
    width: 67px;
    height: 67px;
}
.n3-image{
    display: inline-block;
    margin: 5% 0px 0px 5%;
    width: 67px;
    height: 67px;
}

.stamp{
    width: 92%;
    height: 38vh;
    margin-top: 5%;
    border-radius: 5% 5% 0px 5%;
    background-color: #C0DFCC;
}
.stamp-image{
    width: 91.5%;
    height: 47.5%;
    border-radius: 15px;
    margin-left: 4.3%;
}
.stamp-eventep{
    margin-bottom: 6%;
    font-family: "pretendard";
}

.bestdresser{
    width: 92%;
    height: 18vh;
    margin-top: 5%;
    border-radius: 5% 5% 0px 5%;
    background-color: #C5E9BF
}

.inssupl{
    width: 92%;
    height: 25vh;
    margin-top: 5%;
    margin-bottom: 10px;
    border-radius: 5% 5% 0px 5%;
    background-color: #C0DFCC;
}
.instarlink{
    float:right;
    margin-right: 10px;
    margin-top: 4.5%;
}
.instarlinktxt{
    display: inline-block;
    margin-right: 8px;
    font-size: 100%;
    font-weight: 550;
    text-align: right;
    font-family: "pretendard";
}
.instarlink-image{
    width: 15%;
    height: 3.2vh;
}