.event-container{
    height:100vh;
    padding-top: 50px; 
    box-sizing: border-box;
}

.titletext{
    display: inline-block;
    margin-top: 20px;
    font-size: var(--title-font-size);
    font-weight: bold;
    font-family: "kameron-bold";
}
.event-title-image{
    width: 22px;
    height: 26.565px;
}

.topep{ 
    margin: 0 auto;
    width: 90%;
    display: flex;
    margin-top: 6%;
    font-size: 14px;
    color: #7D7D7D;
    font-family: "pretendard";
}

.e-t-txt{
    display: inline-block;
    margin: 0 auto;
    margin-left: 16px;
    vertical-align: 9px;
}

.sort{
    font-size: 14px;
    font-weight: 550;
    vertical-align: 45px; 
    font-family: "pretendard";
}
.event-title{
    font-size: 22px;
    font-weight: bold; 
    font-family: "pretendard";
}

.eventep{
    display: flex;
    margin: 0 auto;
    width: 90%;
    margin-top: 15px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    font-family: "pretendard";
}

.n1-image{
    display: inline-block;
    margin: 5% 0px 0px 5%;
    width: 67px;
    height: 67px;
}
.n2-image{
    display: inline-block;
    margin: 5% 0px 0px 5%;
    width: 67px;
    height: 67px;
}
.n3-image{
    display: inline-block;
    margin: 5% 0px 0px 5%;
    width: 67px;
    height: 67px;
}

.stamp{
    margin: 0 auto;
    width: 90%;
    margin-top: 5%;
    border-radius: 5% 5% 0px 5%;
    background-color: #C0DFCC;
}
.stamp-image{
    width: 91.5%;
    height: 47.5%;
    border-radius: 15px;
}
.stamp-eventep{
    margin-bottom: 6%;
    font-family: "pretendard";
}

.bestdresser{
    margin: 0 auto;
    width: 90%;
    height: auto;
    margin-top: 5%;
    padding-bottom: 20px;
    border-radius: 5% 5% 0px 5%;
    background-color: #C5E9BF;
    font-family: "pretendard";
}

.inssupl{
    margin: 0 auto;
    width: 90%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 10px;
    padding-bottom: 72px;
    border-radius: 5% 5% 0px 5%;
    background-color: #C0DFCC;
    font-family: "pretendard";
}
.instarlink{
    float:right;
    justify-content: space-between;
    margin-top: 4.5%;
    margin-right: 15px;
}
.instarlink a {
    color: black !important;
    text-decoration: none;
}
.instarlinktxt{
    display: inline-block;
    margin-right: 8px;
    font-size: 16px;
    font-weight: 550;
    text-align: right;
    font-family: "pretendard";
}
.instarlink-image{
    width: 28px;
    height: 28px;
}
@media screen and (min-width: 281px) and (max-width: 320px) {
    .event-title{
        font-size: 18px;
    }
}
@media screen and (max-width: 280px) {
    .event-title{
        font-size: 15.3px;
    }
}
@media screen and (min-width:840px) {
    .event-container{
      width: 500px;
      margin: 0 auto;
    }
  }