.GrnPage {
    position: fixed;
    height: calc((var(--vh, 1vh) * 100)-100px);
    width: 90%;
    margin: 0 auto;
}

.GrnPage_container {
    margin-left: 10%;
}

.GrnTitle {
    font-size: var(--bigger-title-font-size);
    font-family: "kameron-bold";
    /* height: fit-content; */
    box-sizing: border-box;
    display: inline-block;
    height: 50px;
}

.GrnPage_Title_container {
    margin: 20% 0 7% 0;
}

.GrnTitle span {
    box-shadow: inset 0px -20px 0 rgba(52, 154, 107, 0.50);
    margin-bottom: -55px;
    box-sizing: border-box;
    display: inline-block;
    height: 90%;
}

.Grn_clober_green {
    width: 57px;
    margin-left: 2%;
}

.GrnTxt {
    word-break: keep-all;
    margin-bottom: 5%;
    font-family: "Gowun Dodum";
}

.GrnBanner {
    width: 100%;
    margin: 0 auto;
    height: 85px;
    border-radius: 15px;
}

.GrnBanE {
    height: 80px;
    width: 100%;
    background: gray;
    border-radius: 15px;
}

#GrnBanE_2 {
    background: pink;
}

.GrnRoute {
    margin-top: 10%;
    ;
    width: 100%;
    height: 100%;
    /* margin: 0 auto; */
    border: 2px solid var(--toneDown-black);
    border-radius: 15px;
}

.GrnRoute_inner_container {
    margin: 9% 0;
    font-size: 20px;
}

.GrnRoute_menu_container {
    display: flex;
    margin: 5% 0 2% 0;
    font-family: "Gowun Dodum";
}

.GrnRoute_menu {
    width: 73%;
    margin-left: 10%;

}

.Grn_arr_black {
    width: 5%;
    height: 5%;
}

.Grn_line {
    background-color: black;
    width: 80%;
    height: 2px;
    margin: 0 auto;
}

/* desktop */
@media screen and (min-width:840px) {
    .GrnPage {
        position: relative;
        width: 500px;
        margin: 0 auto;
    }
    .GrnBanner {
        height: 105px;
    }
    
    .GrnBanE {
        height: 110px;
    }
}

/* 381px */
@media screen and (max-width:381px) {
    .GrnTitle {
        font-size: 35px;
    }

    .GrnTitle span {
        box-shadow: inset 0px -25px 0 rgba(52, 154, 107, 0.50);
        height: 80%;
    }

    .GrnBanner {

        height: 85px;
    }

    .GrnBanE {
        height: 80px;
    }

    .GrnRoute {
        height:100%;
    }

    .GrnRoute_inner_container {
        font-size: 18px;
    }
}