.startPage_background {
    background-color: #349A6B;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

.startPage_container {
    height: 100%;
    background-color: #349A6B;
    display: block;
    margin: 0 10%;
    font-size: var(--content-font-size);
    text-align: center;
    color: var(--toneDown-black);

}

.clober_white {
    position: relative;
    left: 30%;
    width: 275px;
    height: 275px;
    transform: rotate(23deg);
}

.startPage_title_container {
    height: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.startPage_title {
    font-family: "kameron-bold";
    font-size: var(--bigger-title-font-size);
    color: white;
    text-align: left;
    vertical-align: bottom;
}
.startPage_restart_container{
    display: flex;
    margin-top: 10%;
    align-items: center;
}

.arr_white{
    width: 31px;
    height: 31px;
    margin-left: 10%;
    animation: move_arr_white 0.9s infinite;
}

@keyframes move_arr_white {
    0% {
        transform: translateY(0%);
      }

      25%{
        transform: translateY(12.5%);
      }
    
      50% {
        transform: translateY(25%);
      }
    
      75% {
        transform: translateY(12.5%);
      }

      100% {
        opacity: 1;
        transform: translateY(0%);
      }
}

/* desktop */
@media screen and (min-width:800px) {
    .startPage_container  {
        width: 500px;
        margin: 0 auto;
    }
}
/* 381px */
@media screen and (max-width:375px) {
    .startPage_title {
        font-size: var(--title-font-size);
    }
}