html{
    background-color: var(--background-yellow);
}

.RegisterPage_background{

    margin: 5% 10%;
    font-size: var(--content-font-size);
    text-align: center;
    color: var(--toneDown-black);

}

.LoginPage_title {
    display: flex;
    justify-content: flex-start;
    margin: 0px 0%;
    font-size: var(--title-font-size);
    font-weight: bold;
    font-family: "kameron-bold";
}

.Register {
    display: flex;
    flex-direction: column;
}