html{
    background-color: var(--background-yellow);
}

.RegisterPage_background{

    margin: 5% 10%;
    font-size: var(--content-font-size);
    text-align: center;
    color: var(--toneDown-black);
    padding-top: 50px;

}

.Register {
    display: flex;
    flex-direction: column;
}

.RegisterPage_title {
    display: flex;
    justify-content: flex-start;
    margin: 0px 0%;
    font-size: var(--title-font-size);
    font-weight: bold;
    font-family: "kameron-bold";
}

.Register_container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.inputset {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.register_label {
    font-size: var(--context-font-size);
    font-family: "kameron-bold";
    text-align: left;


}

.register_label_confirm {
    font-size: var(--context-font-size);
    font-family: "kameron-bold";
    text-align: left;
}

.message {
    text-align: left;
    font-size: 10px;
    margin-top: -15px;
    color: rgba(0, 0, 0, 0.55);
    font-family: "pretendard-medium";
}


.btn_register {
    width: 85%;
    height: 40px;
    background-color: var(--toneDown-black);
    border-radius: 7px;
    border: none;
    margin: 0 auto;
    color: var(--toneDown-white);
    margin-top: 20px;
    line-height: 40px;
    font-family: "pretendard-medium";
}

.register_input {
    width: 200px;
    height: 22px;
    font-family: "pretendard-medium";
}

/* desktop */
@media screen and (min-width:800px) {
    .RegisterPage_background {
        width: 500px;
        margin: 0 auto;
    }
}

@media screen and (max-width:300px) {
    .register_input{
        width: 150px;
    }
    }