    .postertext,.date,.datetext, .map,.help,.aboutmanagement,.line-image{
        margin: 0 auto;
        width:90%;

    }
    .eventinformation-container{
        width: 100%;
        padding-top: 50px; 
    }
  .titletext{
      margin-top: 5.2%;
      margin-left: 5.3%;
      font-size: 250%;
      font-weight: bold;
    }
    .ei-title-image{
      width: 6%;
      height: 7%;
    }

    .ei-clover-image{
        width: 35px;
        height: 35px;
        box-sizing: border-box;
        
    }
    .line-image{
        width: 335px;
    }

    .eiposter{
        display: flex;
        justify-content: space-between;
        width:100%;
        margin-top: 40px;
    }
    .leftposter-image{
        width: 10%;
        height: auto;
    }
    .poster-image{
        width: 58.5%;
        height: auto
    }
    .rightposter-image{
        width: 10%;
        height:  auto;
    }
    .postertext{
        margin-top: 20px;
        font-family: "pretendard";
    }

    .ei-title{
        display: flex;
        height: 35px;  
        margin-bottom: 5%;
        font-size: 22px;
        font-weight: bold;
        font-family: "kameron-bold";
        box-sizing: border-box;
    }

    .date{
        margin-top: 7%;
        font-family: "pretendard";
    }

    .datetext{
        font-size: 16px;
    }
    .date1text{
        margin-bottom: 15px;
        font-weight: 550;
    }
    .date2text{
        line-height: 1.8; 
    }


    .map{
        margin-top: 20px;
        font-family: "pretendard";
    }
    .maptext{
        margin-left: 35px;
    }
    .maptext1{
        font-size: 16px;
        font-weight: 550;
    }
    .mptext2{
        font-size: 14px;
    }
    .map-image{
        margin-top: 20px;
        width: 100%;
        height: auto;

    }


    .help{
        font-family: "pretendard";
        margin-top: 20px;
    }
    .helplogo-image{
        margin-top: 12%;
    }

    .aboutmanagement{
        font-family: "pretendard";
        margin-top: 5%;
        margin-bottom: 60px;
    }
    .amtext{
        margin-top: 2%;
    }
    .number{
        font-size: 20px;
        font-weight: bold;
        text-decoration:underline;
        margin-bottom: 10px;
    }

.eitxt{
    margin-left: 15px;
    margin-top: 6.5px;
    box-sizing: border-box;

}


.item-41, .item-42, .item-43, .item-44 {
    margin-bottom: 20px;
    margin-left: 50px;
}

