    .postertext,.date,.datetext, .map,.help,.aboutmanagement,.line-image{
        margin: 0 auto;
        width:90%;

    }
    .eventinformation-container{
        width: 100%;
        padding-top: 50px; 
    }
  .titletext{
      margin-top: 5.2%;
      margin-left: 5.3%;
      font-size: 250%;
      font-weight: bold;
    }
    .ei-title-image{
      width: 6%;
      height: 7%;
    }

    .ei-clover-image{
        width: 35px;
        height: 35px;
        
    }
    .line-image{
        width: 335px;
    }

    .eiposter{
        display: flex;
        justify-content: space-between;
        width:100%;
        margin-top: 40px;
    }
    .leftposter-image{
        width: 45px;
        height: 348px;
    }
    .poster-image{
        width: 242.405px;
        height: 348px;
    }
    .rightposter-image{
        width: 45px;
        height: 348px;
    }
    .postertext{
        margin-top: 20px;
        font-family: "pretendard";
    }

    .ei-title{
        display: inline-block;
        margin-left: 8%;
        margin-bottom: 5%;
        font-size: 22px;
        font-weight: bold;
        font-family: "kameron-bold";
    }

    .date{
        margin-top: 7%;
        font-family: "pretendard";
    }

    .datetext{
        margin-left: 40px;
        font-size: 16px;
    }
    .date1text{
        margin-bottom: 15px;
        font-weight: 550;
    }
    .date2text{
        line-height: 1.8; 
    }


    .map{
        margin-top: 20px;
        font-family: "pretendard";
    }
    .maptext{
        margin-left: 40px;

    }
    .maptext1{
        margin-top: 1%;
        font-weight: 550;
    }
    .map-image{
        margin-top: 20px;
        margin-left: 4px;
        width: 325px;
        height: 249px;
    }


    .help{
        font-family: "pretendard";
        margin-top: 20px;
    }
    .helplogo-image{
        margin-top: 12%;
    }

    .aboutmanagement{
        font-family: "pretendard";
        margin-top: 5%;
        margin-bottom: 60px;
    }
    .amtext{
        margin-top: 2%;
        margin-left: 46px;
    }
    .number{
        font-size: 20px;
        font-weight: bold;
        text-decoration:underline;
        margin-bottom: 10px;
    }

.title1, .title2, .title3, .title4 {
    margin-left: -18%;
    margin-top: 4.8%; 
  }


.item-41, .item-42, .item-43, .item-44 {
    margin-bottom: 20px;
}
  

