.HeaderAll {
    display: flex;
    width: 100vw;
    height: 50px;
    background: #FBFBF4;
    z-index: 10;
    position: fixed;
    top: 0
}

.BackBtn {
    width: 27px;
    height: 15px;
    background-image: url("../../../public/img/Header/backBtn.svg");
    background-size: cover;
    margin: auto 0;
    margin-left: 20px;
}

.PageName {
    width: 75%;
    vertical-align: center;
    padding-top: 15px;
    text-align: center;
    font-size: 16px;
    font-family: "variable-medium";
    font-weight: 600;
}

.sidebaricon {
    width: 24px;
    height: 24px;
    margin-top: 13px;
}