.sidebar {
    width: 80%;
    height: 100vh;
    right: -100%;
    transition: 850ms;
    z-index: 10;
    margin-top: 0;
    position: fixed;
    backdrop-filter: blur(90px);
}

.sidebar.active {
    right: 0;
    transition: 850ms;
}

.SideBar_inner {
    padding: 10px 30px;
    right: 0;
    height: 100vh;
}


.SideBar_inner_header {
    display: flex;
    flex-direction: column;
}

.hello {
    font-size: var(--middle-font-size);
    font-family: "pretendard-medium";
}

.hello_name {
    font-size: var(--title-font-size);
    font-family: "pretendard-medium";
    margin-bottom: 12px;
    margin-top: 5px;
}

.border {
    border: 0.5px solid #000;
    opacity: 0.15;
    width: 100%;
}

.sidebar_ticket {
    margin-top: 15px;
}

.ticket_pic {
    margin-top: 10px
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
    margin: 10px 0;
}

ul li a {
    color: var(--toneDown-black);
    text-decoration: none;
    font-size: var(--middle-font-size);
    display: flex;
    padding: 10px 15px;
    border-radius: 6px;
    font-family: "pretendard-medium";
}

ul li a:hover,
ul li a.active {
    background: var(--background-yellow);
}

.submenu {
    display: none;

}

.submenu.active {
    display: block;

}

.sub {
    font-size: var(--content-font-size);
    margin-left: 10%;
    font-family: "pretendard-medium";
}

.hello_name {
    display: flex;

}

.ticket_title {
    display: flex;
}

.ticket_icon {
    margin-right: 5px;
}

.booth_tap {
    color: var(--toneDown-black);
    text-decoration: none;
    font-size: var(--middle-font-size);
    display: flex;
    padding: 10px 15px;
    border-radius: 6px;
    font-family: "pretendard-medium";
}

.booth_tap:hover,
.booth_tap.active {
    background-color: var(--background-yellow);
}

.HideSide {
    z-index: 10;
    position: relative;
    left: 85%;
    display: none;
    transition: 850ms;
}