.timeTable_title{
    color: var( --ewhaian-green);


}

table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid #444444;
    text-align: center;
}

.timeTable_1{
    background-color: var(--ewhaian-green);
}

@media screen and (max-width: 480px) {


  
}
  
@media screen and (max-width: 375px) {
  
}
  
@media screen and (max-width: 280px) {

}