html{
    background-color: var(--background-yellow);
}

.speakerPage_background{
    display: block;
    margin: 17% 10% 5% 10%;
    font-size: var(--content-font-size);
    text-align: center;
    color: var(--toneDown-black);

}

.timeTable_container{
    margin-top: 10%;
}
.timeTable_title{
    display: flex;
    justify-content: flex-start; 
    margin: 0px 0%;
    font-size: var(--title-font-size);
    font-weight: bold;
    font-family: "kameron-bold";

}

.dia_svg{
    margin-left: 10px;
}


.timeTable_background{
    width: 304px;
    height: 304px;
    margin: 10% auto;
    object-fit: cover;
    display: flex;

    justify-content: center;
    align-items: center;
}

.timeTable_content_container{
    width: 60%;
}

.timeTable_break{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.division_line{
    border-top: 1px solid #444444;
    margin: 10% auto;
    width: 27%;        
}
.timeTable_content_name{
    display: flex;
    margin: 2% 0% 0% 0%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;

}

.clober_img{
    margin: 1% 4%;
    width: 19px;
    height: 19px;
    object-fit: cover;
}










/* speaker info*/

.speakerInfo_container{
    margin-top: 10%;

}
.speakerInfo_title{
    display: flex;
    justify-content: flex-start;
    font-size: var(--title-font-size);
    font-weight: bold;
    margin: 0;
    font-family: "kameron-bold";
}
.arrow_img{
    margin: 10px;
    width: 31px;
    height: 31px;
    object-fit: cover;
}


/* speaker card */
.x_scroll{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
}
.x_scroll::-webkit-scrollbar{
    display:none;
  }
.speakerInfo{
    position: relative;
    min-width: 239px;
    min-height: 239px;
    background-color: #EFEFEF;
    margin: 10px 20px 10px 0px;
    border-radius: 20px;
    text-align: right;
    box-shadow: 5px 5px gray;
}

.speakerInfo_content{
    padding: 10%;
}
.speakerInfo_name{
    font-size: 20px;
    font-weight: bold;
}

.speakerInfo_name_2{
    text-align: left;
}

.speakerInfo_topic_content{
    position: relative;
    margin-top: 5%;
    margin-left: 50%;
    width: 50%
}

.speakerInfo_topic_content_2{
    margin-left: 0;
    text-align: left;
}
.speaker_svg1{
    position: absolute;
    top: 13%;
    left: 5%;
}
.speaker_img1{
    width:150px;
}
.speaker_svg2{
    position: absolute;
    top: 12%;
    left: 26%;
}
.speaker_svg3{
    position: absolute;
    top: 18%;
    left: 5%;
}


/* desktop */
@media screen and (min-width:800px) {
    .speakerPage_background {
        width: 500px;
        margin: 0 auto;
    }
}
