.titletext{
    display: inline-block;
    margin-top: 20px;
    margin-left: 2%;
    font-size: var(--title-font-size);
    font-weight: bold;
    font-family: "kameron-bold";
  }
  .title-image{
    width: 22px;
    height: 26.565px;
  }

.qg-sort{
    display: inline-block;
    font-size: 14px;
    font-weight: 550;
    vertical-align: 45px; 
    font-family: "pretendard";
}
.test-title{
    display: block;
    font-size: 22px;
    font-weight: bold; 
    margin: -12% 0px 0px 26.5%;
    font-family: "pretendard";
}
.boothep{
    margin: 30px 0px 0px 15px;
    font-size: 14px;
    font-family: "pretendard";
}

.plustext{
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 10px;
    font-family: "pretendard";
}

.qg-n1-image{
    display: inline-block;
    margin: 5% 0px 0px 5%;
    width: 67px;
    height: 67px;
}

.test{
    margin: 0 auto;
    width: 95%;
    height: 60%;
    margin-top: 20px;
    border-radius: 15px 15px 0px 15px;
    background-color: #C0DFCC;
    font-family: "pretendard";
}
.testmove{
    float: right;
    margin-right: 10px;
    margin-top: 4%;
}
.testmovetxt{
    display: inline-block;
    font-size: 113%;
    font-weight: bold;
    font-family: "pretendard";
}
.testmove-image{
    width: 14.87px;
    height: 14px;
}
