html{
    background-color: var(--background-yellow);
}

.LoginPage_background{

    margin: 5% 10%;
    font-size: var(--content-font-size);
    text-align: center;
    color: var(--toneDown-black);
    padding-top: 50px;

}

.Login {
    display: flex;
    flex-direction: column;
}

.LoginPage_title {
    display: flex;
    justify-content: flex-start;
    margin: 0px 0%;
    font-size: var(--title-font-size);
    font-weight: bold;
    font-family: "kameron-bold";
}

.login_container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.inputset {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.login_label {
    font-size: var(--context-font-size);
    font-family: "kameron-bold";
    text-align: left;
}

.btn_login,
.nav_register {
    width: 85%;
    height: 40px;
    background-color: var(--toneDown-black);
    border-radius: 7px;
    border: none;
    margin: 0 auto;
    color: var(--toneDown-white);
    margin-top: 20px;
    line-height: 40px;
    font-family: "pretendard-medium";
}

.nav_register {
    background-color: var(--greenewal-mint);
    color: var(--toneDown-black);
    text-decoration: none;
}

.btn_login.active {
    outline: none;
    box-shadow: none;
}

.login_input{
    font-family: "pretendard-medium";
    width: 200px;
}

/* desktop */
@media screen and (min-width:800px) {
    .LoginPage_background {
        width: 500px;
        margin: 0 auto;
    }
}

@media screen and (max-width:320px) {
.login_input{
    width: 150px;
}
}