.PayingBack {
    font-family: "pretendard-medium";
    font-size: 13px;
    margin: 0 auto;
    width: 90%;
    padding-top: 50px;
}

.PayingTitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 11px;
}

.PayContainer {
    margin-bottom: 40px;
    margin-top: 20px;
}

.PayContainer img {
    width: 100%;
    height: auto;
}

.PayingInfo div {
    margin-bottom: 10px;
}

.PayingInfo input {
    margin-left: 19px;
    border: 1px solid var(--toneDown-black);
}

.userInfoInOrder {
    display: inline-block;
    margin-left: 19px;
    width: 50%;
    /* border: 1px solid var(--toneDown-black); */
}

.PayingInfo span {
    display: inline-block;
    width: 60px;
    position: relative;
    right: 0;
    text-align: end;
}

.BuyingEach {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.PayTotal {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding-top: 10px;
    border-top: 1px solid var(--toneDown-black);
    box-sizing: content-box;
}

.PayingTxt {
    line-height: 2;
    margin-bottom: 13px;
    box-sizing: border-box;
}

.PayCheckBtn {
    display: inline-block;
    width: 100%;
    height: 66px;
    border-radius: 15px;
    background: #C0DFCC;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    padding-top: 24px;
    margin-bottom: 20px;
}

#DontShow {
    display: none;
}

#Show {
    display: block;
}

@media screen and (min-width:840px) {
    .PayingBack {
        width: 500px;
        margin: 0 auto;
    }
}