.ProductDisplay_background {
    width: 100vw;
    height: 100vh;
}

.ProductDisplay_main_contianer {
    display: flex;
    flex-direction: column;
    /*임시*/
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

.ProductDisplay_main_title {
    font-family: "kameron-bold";
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
}

.ProductDisplay_top_button_container {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ProductDisplay_top_button1 {
    width: 15%;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 30px;
    padding: 5px;
    font-size: 14px;
}

.ProductDisplay_top_button2,
.ProductDisplay_top_button3 {
    width: 25%;
    margin-left: 2%;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 30px;
    padding: 5px;
    font-size: 14px;
}

.ProductDisplay_top_button4 {
    width: 30%;
    margin-left: 2%;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 30px;
    padding: 5px;
    font-size: 14px;
}

.ProductDisplay_top_button1:hover,
.ProductDisplay_top_button2:hover,
.ProductDisplay_top_button3:hover,
.ProductDisplay_top_button4:hover {
    background-color: black;
    color: white;

}

.ProductDisplay_inner_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 3개의 열 */
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    margin-top: 15px;
    margin-bottom: 100px;

}

.ProductDisplay_content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.ProductDisplay_content_img_container {
    width: 140px;
    height: 140px;
    line-height: 120px;
    mask: url(../../../../public/img/Booth/cloberVec.svg);
    mask-size: cover;
}

.product_main_img {
    width: 100%;
    height: 100%;
}

.ProductDisplay_content_detail_container {
    width: 80%;
    display: flex;
    margin-top: 10px;
    flex-direction: row;

}

.ProductDisplay_content_left_container {
    text-align: left;
    width: 85%;
}

.ProductDisplay_content_price_container {
    display: flex;
    margin-top: 3px;
}

.ProductDisplay_content_original_price {
    text-decoration: line-through;
    color: gray;
    margin-right: 3px;
}

.ProductDisplay_content_right_container {
    width: 15%;
}

.product_main_img {
    width: 100%;
    height: auto;
}

.ProductDisplay_cart_button_container {
    text-align: center;
}

.ProductDisplay_cart_button {
    background-color: var(--toneDown-black);
    width: 90%;
    height: 66px;
    border: 0px;
    border-radius: 10px;
    color: white;
    margin-top: 5%;

    font-size: 16px;
    position: fixed;
    bottom: 2%;
    left: 5%;
    z-index: 10;
}

@media screen and (min-width:800px) {
    .ProductDisplay_background {
        width: 500px;
        margin: 0 auto;
    }

    .ProductDisplay_cart_button {
        width: 450px;
        left: calc(50% - 225px);
    }

}