.TestInner {
    text-align: left;
}

.TestQuestion {
    margin: 0 32px;
}

.Answer span {
    display: inline-block;
    border: 1px solid var(--toneDown-black);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}

.Answer {
    display: flex;
    /* align-items: flex-start;
    justify-content: flex-start; */
    margin: 0 13%;
}

.Lines {
    border-bottom: 1px solid var(--toneDown-black);
    border-top: 2px solid var(--toneDown-black);
    height: 5px;
}

.Round {
    border-radius: 30px;
    border: 1px solid var(--toneDown-black);
    padding: 5px;
    box-sizing: border-box;
}