.TestInner {
    text-align: left;
    margin: 0 8.5%;
}

.TestQuestion {
    margin: 30px 0;
    font-size: 18px;
}

.Answer {
    display: flex;
    /* align-items: flex-start;
    justify-content: flex-start; */
    margin: 0 4.5%;
    font-size: 16px;
}

.Answer span {
    font-size: 18px;
    font-weight: 100;
    display: inline-block;
    margin-right: 10px;
    width: 20px;
}

.Lines {
    border-bottom: 1px solid var(--toneDown-black);
    border-top: 2px solid var(--toneDown-black);
    height: 5px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.Round {
    border-radius: 30px;
    border: 1px solid var(--toneDown-black);
    padding: 4px;
    box-sizing: border-box;
    width: 18%;
    height: 24px;
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 70px;
    margin-left: 5%;
    /*네비게이션 바 들어갈 부분 포함*/
}

.TestProgress {
    display: flex;
    width: 79.2px;
    height: 33px;
    margin: 0 auto;
    border: 1px solid var(--toneDown-black);
    margin-top: 62px;
}

.TestProgress div {
    position: relative;
    z-index: 10;
    left: 26px;
    top: -26.4px;
    width: 1px;
    height: 85.8px;
    background-color: var(--toneDown-black);
    transform: rotate(67.4deg);
}

.Prog2 {
    display: inline-block;
    margin-left: 39px;
    margin-top: 13px;
}

.Prog1 {
    display: inline-block;
    margin-left: 6px;
    margin-top: 6px;
}

/* 결과 확인 페이지 */

.GradeTest {
    position: relative;
    z-index: 20;
    width: 28%;
    max-height: 80px;
    left: -25px;
    top: 80px;
    object-fit: scale-down;
    display: block;
}

.TestEach {
    margin: 0 10%;
    text-align: left;
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    margin-top: -110px;
    margin-bottom: 30px;
}

.CheckAnswersBack {
    background-color: #E5DED8;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

@media screen and (min-width:800px) {
    .GradeTest {
        width: 80px;
    }

    .CheckAnswersBack {
        width: 500px;
        margin: 0 auto;
    }
}