.TestBackground {
    background-color: #E5DED8;
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: auto;
}

.StartRound {
    width: 81px;
    height: 31px;
    border-radius: 30px;
    border: 1px solid var(--toneDown-black);
    margin-left: 5%;
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 5px;
    box-sizing: border-box;
}

.TestStartBtn {
    background-color: var(--toneDown-black);
    width: 90%;
    height: 66px;
    border: 0px;
    border-radius: 10px;
    color: white;
    padding: 8px 20px;
}

.TestTitle {
    font-size: 44px;
    margin-bottom: 2%;
}

/* .StartSubtitle {
    font-size: var(--middle-font-size);
    padding-bottom: 10px;
} */

.TestUser {
    margin-top: 30px;
    margin-bottom: 25px;
}

.TestUserInfo {
    width: 90%;
    /* margin-bottom: 7.4%; */
    margin: 10px auto;
    display: flex;
    /* align-items: flex-start; */
    font-family: "kyobo-hand";
}


.TestUserInfo span {
    border: 1px solid black;
    display: inline-block;
    height: 29px;
    padding: 4px 6px;
    box-sizing: border-box;
    margin: 0;
}

.TestUserInfo #UserText {
    font-family: "pretendard-medium";
}

.TestScore {
    color: red;
    font-family: "kyobo-hand";
    font-size: 60px;
    position: relative;
    z-index: 10;
    width: 130px;
    height: fit-content;
    margin-bottom: -56px;
    margin-left: 100px;
    top: -33px;
    rotate: -15deg;
}

.TestScore div {
    border-top: 4px solid red;
    border-bottom: 4px solid red;
    border-radius: 2px;
    height: 3px;
    margin-top: -10px;
}

.CheckAnswerScore {
    margin-left: 60%;
    top: 50px;
    margin-top: -30px;
}

.TestDescription {
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    word-break: keep-all;
    line-break: strict;
    text-align: left;
    box-sizing: border-box;
    padding: 22px 3.5%;
    margin-bottom: 7.2%;
}

.TestDescription li {
    padding: 7px
}

.TestDescription li::marker {
    font-size: 9px;
}

/* 
.TestStart {
    z-index: 1;
    transform-origin: left top;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.TestStart:hover {
    transform: rotate(-120deg, -120deg, -20deg);
    transform: rotate3d(-120deg, -120deg, +12deg);
    opacity: 0.4;
}
 */

@media screen and (min-width:800px) {
    .TestBackground {
        width: 500px;
        margin: 0 auto;
    }
}

@media screen and (max-height:690px) {
    .TestStartBtn {
        height: 50px;
    }
}